<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>viloyatlar</title>
</head>
<body>
    {% for viloyat in object_list %}
        <h1><a href="{% url 'tuman' %}">{{viloyat.viloyat}} </a><h1>
    {% endfor %}
</body>
</html>
{% comment %} <div style="float: right">
    <button onclick="setlang('uz')">UZ</button>
    <button onclick="setlang('en')">EN</button>
    <button onclick="setlang('ru')">RU</button>
</div>
<h1></h1>
<table class="table table-dark">
    <thead>
        <th scope="col">#</th>
        <th scope="col">Mamlakat</th>
        <th scope="col">Poytaxt</th>
    </thead>
    <tbody>
        {% for capital in object_list %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ capital.country }}</td>
                <td>{{ capital.capital}}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>

<style>
    th, td {
        border: 1px solid black;
    }
</style>

<script>
    function setlang(lang) {
        const Http = new XMLHttpRequest();
        const url='/setlang/' + lang;
        Http.open("GET", url);
        Http.send();

        Http.onreadystatechange = (e) => {
            location.reload();
        }
    }
</script> {% endcomment %}